data:
  class_path: dataset.LatentDataModule
  init_args:
    dataset_path: ./configs/protopnet/cub200/dataset.yml

trainer:
  devices: 1
  max_epochs: 10
  val_check_interval: 1
  accelerator: gpu
  precision: bf16-mixed
  gradient_clip_val: 1.0
  callbacks:
    - class_path: pytorch_lightning.callbacks.ModelCheckpoint
      init_args:
        monitor: Val/Loss
        dirpath: /data/anasynth_nonbp/dtorres/xai/checkpoints
        filename: latentflow
        save_top_k: 1
        save_last: true
  logger:
    class_path: pytorch_lightning.loggers.TensorBoardLogger
    init_args:
      save_dir: /data/anasynth_nonbp/dtorres/xai/logs/latentflow
      name: latentflow

model:
  decoder:
    class_path: modules.LatentDecoder
    init_args:
      input_dim: 256
      hidden_dim: 64
      output_dim: 64
      strides: [2, 2, 2, 2, 2]
      up_kernels: [3, 3, 3, 3, 3]
      n_convs: [2, 2, 2, 2, 2]
  flow_matcher:
    class_path: diffusion_model.FlowMatcher
    init_args:
      upsample_dim: 64
      hidden_dim: 128
      output_dim: 3
      strides: [1, 1, 1, 2]
      n_convs: [4, 4, 4, 4]
      sigma_min: 0.0001
  lr: 0.0001